* {
    background-color: #39A0ED;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.home {
    text-align: center; /* 부모 요소에 이미지를 가운데로 정렬 */
}

.profile {
    width: 10%;
}
