* {
    background-color: #39A0ED;
    font-family: 'Leon Sans', sans-serif;
    margin: 0;
    color: #fff;    
}

::selection {
    color: #26EDBB;
}

body {
    overflow-x: hidden;
}

canvas {
    margin: 0;
    display: flex;
}

.main-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.index-container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100vh;
}


.title {
    font-weight: 350; 
    font-size: 54px;
    margin-left: 18vw;
    opacity: 0;
    transition: all 1s;
}

.list {
    font-weight: 300;
    font-size: 30px;
    margin-left: 27vw;
    margin-bottom: 3vw;
    text-align: left;
    opacity: 0;
    transition: all 1s;
}

.introduce-grid-container {
    margin-top: 200px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: center;
    height: 100vh;
}

.introduce-profile {
    width: 200px;
    height: auto;
    margin-left : 10vw;
}

.introduce-p {
    margin-left: 18vw;
    font-size: 14px;
}

.tech-badge-container {
    display: flex;
    justify-content: center;
}

.tech-badge-container img {
    padding-right: 3px;
}

.projects-container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100vh;
}

@media screen and (max-width: 1200px) {
    .title {
        font-size: 60px;
    }
    .list {
        font-size: 32px;
    }
}

@media screen and (max-width: 992px) {
    .title {
        font-size: 42px;
    }
    .list {
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 36px;
    }
    .list {
        font-size: 18px;
    }
}


.projects-container {
    height: 100vh;
}
